html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.nav {
  margin: 0;
  padding: 60px 0 0;
  list-style-type: none;
  color: red;
}

.nav li {
  padding: 10px;
}

.nav li:hover {
  background-color: #EEE;
}

.horizontal-nav {
  background-color: #333;
  color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.material-icons {
  height: 50px;
  width: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.side-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
}

.side-nav-container .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity cubic-bezier(0, 0, 0.3, 1) 300ms;
  will-change: opacity;
  top: 0;
}

.side-nav-slot {
  background-color: #FFF;
  height: 100%;
  max-width: 400px;
  width: 90%;
  box-shadow: 14px 0px 15px -7px rgba(0, 0, 0, 0.6);
  will-change: transform;
  transition: transform cubic-bezier(0, 0, 0.3, 1) 300ms;
}

.no-anime .overlay, .no-anime .side-nav-slot {
  transition: none;
}

.no-show {
  pointer-events: none;
}

.navbar-header {
  height: 25%;
  background-color: rgb(85, 107, 214);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}

.nav-title {
  font-size: 2em;
  padding: 20px
}
